<div class="p-3">
    <div class="flex gap-3 justify-center
     [&>button]:bg-slate-200 [&>button]:rounded-sm [&>button]:text-slate-600 [&>button]:px-2 [&>button]:font-semibold">
        <button (click)="prevMonth()"> &lt; </button>
        <div class="text-lg text-black">{{year}}-{{month +  1}}</div>
        <button (click)="nextMonth()"> &gt; </button>
    </div>

    <div class="grid grid-cols-7 text-center text-[12px] text-slate-500 py-2" >
        @for (day of days; track $index) {
            <div>{{ day }}</div>
        }
    </div>

    <div class="grid grid-cols-7 grid-rows-6">
        @for (day of calendar; track $index) {
        <div class="bg-white h-[78px] pt-2 pl-2 border-b-[1px] border-r-[1px] border-[#E6E6E6]"
            [class.bg-[#f2f4f7]]="day.month !== month"
            [class.text-slate-500]="day.month !== month"
            [class.text-blue-500]="day.dayOfWeek === 5 && day.month === month"
            [class.text-red-500]="day.dayOfWeek === 6 && day.month === month">
            <div>{{ day.date }}</div>
        </div>
        }
    </div>
</div>